body{
    background-color: rgba(86,61,124,.15);
}
.login-form{
    margin-top: 100px;
}

#image-login{
    width: 550px;
    height: 500px;
    margin-right: 0px;
    padding-right: 0px;
    float: left;
    background-image: url("../image/image-app/background-login.png");
    /* background-image: url("../../static/image/image-app/background.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-intro{
    margin-top: 450px;
    font-weight: bold;
}

#form-login{
    margin-left: 0px;
    padding: 25px;
    overflow: hidden;
    background-color: white;
    width: 450px;
    height: 500px;
}
#logo-login{
    padding: 0px;
    margin-bottom: 5px;
}