<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/trangchu.css">
    <link rel="stylesheet" href="./css/chi-tiet-san-pham.css">
</head>
<body>
    <div class="header ">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light u-nav-bar">
            <a class="navbar-brand" href="#">
                <img src="./image/logo-shop.jpg" alt="" width="80px" height="80px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto u-nav-bar-center">
                    <li class="nav-item active ">
                        <a class="nav-link u-word-color" href="#">TRANG CHỦ <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link u-word-color" href="#">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link u-word-color" href="#">DỊCH VỤ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link u-word-color" href="#">LIÊN HỆ</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active ">
                        <a class="nav-link u-word-color" href="#">ĐĂNG NHẬP</a>
                    </li>
                    <li class="nav-item active ">
                        <a class="nav-link u-word-color" href="#">ĐĂNG XUẤT</a>
                    </li>
                </ul>
                <a class="navbar-brand" href="#">
                    <img src="./image/icons8-shopping-cart-64.png" alt="" width="50px" height="50px">
                </a>
            </div>
        </nav>
        <div class="container h-90 ">
            <div class="row align-items-center h-100 ">
                <div class="col-6 mx-auto">
                    <div class="jumbotron text-center u-card-content">
                        <div class="card-body ">
                            <p class="card-text u-word-color">Ngày 23/07 - 01/08/2020</p>
                            <h1 class="card-title u-word-color">MUA 1 TẶNG 1</h1>
                            <a href="#" class="btn bg-success u-word-color">XEM NGAY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-product">
        <div class="row">
            <div class="col-3">
                    <img src="./image/iphone-12-pro-max-600x600.jpg" alt="" width="250px" height="300px">
            </div>
            <div class="col-5">
                <p class="name-product">Iphone 12 Pro Max</p>
                <hr>
                <p class="price-product" style="color: orangered;">882,000</p>
                <hr>
                <div class="props-product">
                    <p class="tilte">Màu sắc</p>
                    <ul>
                        <li style="color: white; background-color: rgb(56, 54, 54);">Đen</li>
                        <li style="color: white; background-color: rgb(111, 111, 247);">Xanh</li>
                        <li style="background-color: whitesmoke;">Trắng</li>
                    </ul>
                </div>
                <div class="props-product">
                    <p>Loại</p>
                    <ul>
                        <li style="background-color: whitesmoke;">32GB</li>
                        <li style="background-color: whitesmoke;">64GB</li>
                        <li style="background-color: whitesmoke;">128GB</li>
                    </ul>
                </div>
                <div class="amount-product">
                    <label for="quantity">Số lượng</label>
                    <input id="quantity" type="number" min="1" value="1"> <br>
                </div>
                <div class="add-to-cart text-center ">
                    <button type="button" class="btn btn-warning">Thêm vào giỏ</button>
                </div>
            </div>
            <div class="col-4 infor-product">
                <p class="tilte">Mô tả</p>
                <table>
                    <tr>
                        <td>Màn hình:</td>
                        <td>OLED, 6.5", Super Retina XDR</td>
                    </tr>
                    <tr>
                        <td><hr></td>
                    </tr>
                    <tr>
                        <td>Hệ điều hành:	</td>
                        <td>iOS 13</td>
                    </tr>
                    <tr>
                        <td><hr></td>
                    </tr>
                    <tr>
                        <td>Camera sau:	</td>
                        <td>3 camera 12 MP</td>
                    </tr>
                    <tr>
                        <td><hr></td>
                    </tr>
                    <tr>
                        <td>Camera trước:	</td>
                        <td>12 MP</td>
                    </tr>
                    <tr>
                        <td><hr></td>
                    </tr>
                    <tr>
                        <td>CPU:	</td>
                        <td>Apple A13 Bionic 6 nhân</td>
                    </tr>
                    <tr>
                        <td><hr></td>
                    </tr>
                    <tr>
                        <td>RAM:	</td>
                        <td>4 GB</td>
                    </tr>
                    <tr>
                        <td><hr></td>
                    </tr>
                    <tr>
                        <td>Bộ nhớ trong:	</td>
                        <td>64 GB</td>
                    </tr>
                    <tr>
                        <td><hr></td>
                    </tr>
                    <tr>
                        <td>Thẻ SIM:</td>
                        <td>1 eSIM & 1 Nano SIM</td>
                    </tr>
                    <tr>
                        <td><hr></td>
                    </tr>
                    <tr>
                        <td>Dung lượng pin:	</td>
                        <td>3969 mAh</td>
                    </tr>
                    <tr>
                        <td><hr></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <div class=" container-fluid footer">
        <div class="text-center u-word-color">
            <div class="card-group ">
                <div class="card u-border-card u-card-content">
                    <div class="card-body">
                        <h3 class="card-title">THÔNG TIN SHOP</h3>
                        <p class="card-text text-left">Online Shop là một cửa hàng điện thoại đầy uy tín
                            đảm bảo chất lượng tốt nhất cho khách hàng
                        </p>
                    </div>
                </div>
                <div class="card u-border-card u-card-content ">
                    <div class="card-body">
                        <h3 class="card-title">LIÊN HỆ</h3>
                        <div class="card-text text-left">
                            <p>137/10/5 Tô Hiệu, phường Hòa Minh, quận Liên Chiểu, TP. Đà Nẵng</p>
                            <p>duongakvip1@gmail.com</p>
                            <p>0397250138</p>
                            <p>0773314448</p>
                        </div>
                    </div>
                </div>
                <div class="card u-border-card u-card-content">
                    <div class="card-body">
                        <h3 class="card-title">GÓP Ý</h3>
                        <form class="card-text text-left">
                            <input class="form-control" type="email" placeholder="Email">
                            <div class="form-group u-text-area">
                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                    placeholder="Nội dung" rows="3"></textarea>
                            </div>
                            <button type="button" class="btn btn-success btn-lg btn-block">Đồng ý</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>